@import './mediaCard.css';

.anime-seasons {
  margin-top: 16px;
}

.anime-seasons h4 {
  font-size: 1rem;
  margin: 0 0 12px 0;
  color: #f0f0f0;
}

.anime-notes {
  margin-top: 5px; /* Spécifique pour l'anime, légèrement différent de .media-notes */
}